# render.yaml
services:
  - type: web
    name: latihan-soal-website
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production